*.class
*.log
*.xmi

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.project
.scala_dependencies
.worksheet
.settings
.metadata
